.container{
  margin: 0 auto;
  max-width: 1174px;
  padding: 0 16px;
  overflow: hidden;
}

.container--flex_row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.clearfix::after{
  content: '';
  clear: both;
  display: table;
  overflow: hidden;
}

textarea, 
textarea:active, 
textarea:focus {
  outline: none;
  resize: none;
}

button, 
button:active, 
button:focus{
  outline: none;
  border: none;
}

@mixin font_muli($weight,$size,$color) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  font-family: 'Muli', sans-serif;
}
@mixin font_abril($weight,$size,$color) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  font-family: 'Abril Fatface', cursive;
}

@mixin col($col) {
  width: (100%/12*$col);
}

.col-2{
  @include col(2);
}

.col-3{
  @include col(3);
}

.col-4{
  @include col(4);
}

.col-9{
  @include col(9);
}

.col-5{
  @include col(5);
}

.col-6{
  @include col(6);
}

.col-12{
  @include col(12);
}

.col-11{
  @include col(11);
}

.co-7{
  @include col(7)
}

.col-8{
  @include col(8)
}

.col-10{
  @include col(10)
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-input-placeholder { /* Chrome */
  color: rgba(#393939, .5);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(#393939, .5);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(#393939, .5);
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(#393939, .5);
}