
@media screen and (max-width: 1173px){
  .setion_foter__inner{
    flex-direction: column;
    align-items: center;
  }
  .container--flex_row{
    justify-content: space-between;
  }
  .container{
    max-width: 980px;
  }
  .section_footer__menu{
    padding-top: 38px;
  }
  .col-lg-8{
    @include col(8);
  }
  .col-6{
    @include col(6);
  }
 
  
}
@media screen and (max-width: 978px){
    .aside_box{
      display: none;
    }
    .container--flex_row{
      justify-content: center;
    }
    .section_header__menu{
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      left: 0;
      right: 0;
      text-align: center;
      background: #222025;
      z-index: 1;
      padding: 30px 0 ;
      top: -600px;
      transition: all 0.5s ease; 
    }
    .col-12{
      @include col(12);
    }
   
    .hidden{
      top: 0px;
  }
    .section_header__burger_box{
      display: block;
      width: 10px;
    }
    .box_list__li{
      border-bottom: 1px solid #f0f0f4;
    }
    .section_overview{
      padding-top: 50px;
    }
    .section_review___content{
      padding: 0;
    }
   
}

@media screen and (max-width: 780px){
  .col-sm-11{
    @include col(11);
  }
  .col-sm-12{
    @include col(12);
  }
}
@media screen and (max-width: 660px){
  .section_footer__menu{
    flex-direction: column;
    align-items: flex-start;
  }
  .menu_footer__link{
    padding-top: 10px;
  }
  .section_footer__menu{
    padding-top: 28px;
  }
  .form_subscribe__box_input{
    text-align: center;
  }
  .form_subscribe__input{
    width: 100%;
    padding: 0 0 0 0;
    text-align: center;
  }
  .form_subscribe__button{
    margin-left: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 599px){
  .section_review__header{
    flex-direction: column;
    align-items: center;
  }

  .col-sx-11{
    @include col(11);
  }
 
  .header__title{
    padding-bottom: 10px;
  }
  .section_review__box_join{
    flex-direction: column;
    align-items: center;
  }
  .section_review__join_sing_in{
    align-items: center;
    padding-top: 10px;
  }
  .section_review__sig_in_box{
    padding-bottom: 10px;
  }
  .section_review__join_content_box{
    text-align: center;
  }
  .form_subscribe__title{
    font-size: 15px;
  }
}
@media screen and (max-width: 350px){
  .form_subscribe__title{
    font-size: 14px;
  }
  .header__title{
    font-size: 23px;
  }
}


 
  