.section_list__box_list{
    background-color: rgba(235, 238, 240, 0.3);
    text-align: center;
    padding: 28px 0;
    margin-top: 40px;
    display: inline-block;

}
.box_list__ul{
   text-align: left;
   display: inline-block;
   
}
.box_list__li{
    @include font_muli(400,18px,#393245);
    line-height: 40px;
}
.box_list__number{
    @include font_muli(700,16px,#393245);  
}
.section_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}