<aside class="aside_box col-3">
    <h3 class="aside_box_title">
        BEST DATING SITES
    </h3>
    <div class="aside_box__best">
        <figure class="aside_best__figure">
            <img src="images/pic/icon/valentime.png" alt="" class="aside_best__img">
        </figure>
        <div class="aside_best__box_content">
            <h5 class="aside_best__title">
                Valentime
            </h5>
            <div class="aside_best__rating">
                <span class="aside_best__rating_assessment">
                    9,<span class="aside_best__rating_assessment--bold">7</span>
                </span>
                <span class="aside_best__rating_stars">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                </span>
            </div>
            <a href="#" class="aside_best__link">
                    Read review
            </a>
        </div>
    </div>
    <div class="aside_box__best">
        <figure class="aside_best__figure">
            <img src="images/pic/icon/romance_tale.png  " alt="" class="aside_best__img">
        </figure>
        <div class="aside_best__box_content">
            <h5 class="aside_best__title">
                RomanceTale
            </h5>
            <div class="aside_best__rating">
                <span class="aside_best__rating_assessment">
                    9,<span class="aside_best__rating_assessment--bold">5</span>
                </span>
                <span class="aside_best__rating_stars">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                </span>
            </div>
            <a href="#" class="aside_best__link">
                    Read review
            </a>
        </div>
    </div>
    <div class="aside_box__best">
        <figure class="aside_best__figure">
            <img src="images/pic/icon/charmerly.png" alt="" class="aside_best__img">
        </figure>
        <div class="aside_best__box_content">
            <h5 class="aside_best__title">
                Charmerly
            </h5>
            <div class="aside_best__rating">
                <span class="aside_best__rating_assessment">
                    9,<span class="aside_best__rating_assessment--bold">7</span>
                </span>
                <span class="aside_best__rating_stars">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                </span>
            </div>
            <a href="#" class="aside_best__link">
                    Read review
            </a>
        </div>
    </div>
    <div class="aside_box__best">
        <figure class="aside_best__figure">
            <img src="images/pic/icon/loveswans.png" alt="" class="aside_best__img">
        </figure>
        <div class="aside_best__box_content">
            <h5 class="aside_best__title">
                LoveSwans
            </h5>
            <div class="aside_best__rating">
                <span class="aside_best__rating_assessment">
                    9,<span class="aside_best__rating_assessment--bold">5</span>
                </span>
                <span class="aside_best__rating_stars">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 10 10"><defs><path id="aykma" d="M1139.48 567.31l1.13 2.4c.08.16.23.28.4.3l2.53.38c.44.07.62.64.3.97l-1.83 1.86a.58.58 0 0 0-.15.5l.43 2.62c.07.46-.39.81-.78.6l-2.26-1.25a.52.52 0 0 0-.5 0l-2.26 1.24c-.4.22-.85-.13-.78-.59l.43-2.63a.58.58 0 0 0-.15-.5l-1.83-1.85c-.32-.33-.14-.9.3-.97l2.52-.38a.54.54 0 0 0 .4-.3l1.14-2.4c.2-.41.77-.41.96 0z"/><linearGradient id="aykmb" x1="1139" x2="1139" y1="567" y2="577" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fce43c"/><stop offset="1" stop-color="#f8c41c"/></linearGradient></defs><g><g transform="translate(-1134 -567)"><use fill="url(#aykmb)" xlink:href="#aykma"/></g></g></svg>
                </span>
            </div>
            <a href="#" class="aside_best__link">
                    Read review
            </a>
        </div>
    </div>
    <div class="aside_box__hot">
        <h5 class="aside_hot__title">
                HOT OR NOT?
        </h5>
        <figure class="aside_hot__figure col-md-12">
            <img src="images/portfolio/hot_photo.png" alt="" class="aside_hot__img">
        </figure>
        <div class="aside_hot__data">
            <h5 class="aside_hot__name">
                Maria, 21
            </h5>
            <p class="aside_hot__about col-md-11">
                    I like to travel. I have been traveling for many years. One of my favorite...  
            </p>
        </div>
        <form class="aside_hot__form col-md-12">
            <button class="aside_hot__batton">
                Dislike
            </button>
            <button class="aside_hot__batton">
                Like
            </button>
        </form>
    </div>
</aside>