<footer class="section_footer">
    <div class="container ">
        <div class="setion_foter__inner cols-sm-11">
            <form class="section_footer__form_subscribe col-sm-11">
                <h5 class="form_subscribe__title">Learn how to meet the prettiest brides</h5>
                <div class="form_subscribe__box_input">
                    <input type="email" class="form_subscribe__input" placeholder="Enter email here">
                    <button class="form_subscribe__button">Subscribe</button>
                </div>
            </form>
            <menu class="section_footer__menu col-5 col-sm-11 col-lg-8">
                <a class="menu_footer__link">ABOUT US</a>
                <a class="menu_footer__link">CONTACT US</a>
                <a class="menu_footer__link">ADVERTISER DISCLOSURE</a>
            </menu>
        </div>
        <a href="#header" class="button_top">
            <img src="https://uvarovoleksandr16031989.github.io/landing_grup/images/pic/icon/heder_arrow.png   " alt="" class="button_top__img">
        </a>
    </div>
</footer>