<footer class="section_footer">
    <div class="container container--footer">
        <form action="" class="section_footer__form_subscribe">
            <h5 class="form_subscribe__title">
                Learn how to meet the prettiest brides
            </h5>
            <div class="form_subscribe__box_input">
                <input type="text" class="form_subscribe__input" placeholder="Enter email here">
                <button class="form_subscribe__button">
                        Subscribe
                </button>
            </div>
        </form>
        <menu class="section_footer__menu">
            <a href="" class="menu_footer__link">
                ABOUT US
            </a>
            <a href="" class="menu_footer__link">
                CONTACT US
            </a>
            <a href="" class="menu_footer__link">
                ADVERTISER DISCLOSURE
            </a>
        </menu>
    </div>
</footer>