
<header class="section_header" id="header">
    <div class="container ">
        <div class="section_header__inner">
            <div class="section_header__logo_box col-lg-2 col-md-6">
                <figure class="logo_box__shape">
                    <img src="images/pic/icon/header_shape.png" class="logo_box__shape_img">
                </figure>
                <div class="logo_box__container">
                    <figure class="logo_box__logo">
                        <img src="images/logos/header_logo.png" class="logo_box__logo_img">
                    </figure>
                </div>
            </div>

            <menu class="section_header__menu col-9" id="menu_head">
                <a href="#" class="menu__link">TOP 5 SITES</a>
                <a href="#" class="menu__link">UKRAINIAN DATING SITES</a>
                <a href="#" class="menu__link">RUSSIAN DATING SITES</a>
                <a href="#" class="menu__link">ASIAN DATING SITES</a>
                <a href="#" class="menu__link">BLOG</a>
            </menu>
            <button class="section_header__burger_box" id="btn_head">
                <div class="section_header__burger_item">

                </div>
                <div class="section_header__burger_item">

                </div>
                <div class="section_header__burger_item">

                </div>
            </button>
        </div>
    </div>
</header>
