<section class="section_list">
    <div class="container container--flex_row">
        <div class="content_box col-md-8">
            <div class="section_list__box_list col-md-12">
                <ul class="box_list__ul">
                    <li class="box_list__li">
                        <span class="box_list__number">
                            01
                        </span>
                        Overview
                    </li>
                    <li class="box_list__li">
                        <span class="box_list__number">

                            02
                        </span>
                        General features
                    </li>
                    <li class="box_list__li">
                        <span class="box_list__number">

                            03
                        </span>
                        Additional features
                    </li>
                    <li class="box_list__li">
                        <span class="box_list__number">

                            04
                        </span>
                        Membership & Cost
                    </li>
                    <li class="box_list__li">
                        <span class="box_list__number">

                            05
                        </span>
                        Overall
                    </li>
                </ul>
            </div>
            @@include('../templates/section_overview.html')
        </div>
        @@include('../templates/aside_box.html')
    </div>
    
   
    
</section>