<section class="section_review">
    <div class="container">
        <div class="section_review__header">
            <span class="header__title">
                VICTORIABRIDES REVIEW
            </span>
            <a href="#" class="header__link">
                Visit site
            </a>
        </div>
        <div class="section_review__box_join col-12">
            <form action="" class="box_join__form ">
                <figure class="join_form__logo">
                    <img src="images/logos/form_logo.png" alt="" class="join_form__logo_img">
                </figure>
                <p class="join_form__title">
                    Join for FREE Today!
                </p>
                <div class="select col-12">
                    <select name="" id="" class="join_form__select col-12">
                        <option value="" class="join_form__select_item">
                            Man Seeking a Wooman
                        </option>
                        <option value="" class="join_form__select_item">
                            Lorem, ipsum dolor.
                        </option>
                        <option value="" class="join_form__select_item">
                        Lorem ipsum dolor sit amet.
                        </option>
                    </select>
                </div>
                <input type="name" class="join_form__name col-12" placeholder="What is your name?">
                <div class="join_form__brithday col-12">
                    <div class="select col-3">
                        <select name="" id="DaySelect" class="join_form__brithday_day  col-12">
                            <option class="join_form__brithday_day_item" disabled selected>
                                Day
                            </option>
                        </select>
                    </div>
                    <div class="select ">
                        <select id="MonthSelect" class="join_form__brithday_month col-5">
                            <option class="join_form__brithday_month_item" disabled selected>
                                Month  
                            </option>
                        </select> 
                    </div>
                    <div class="select col-3">
                        <select name="" id="yearSelect" class="join_form__brithday_year col-12">
                            <option class="join_form__brithday_year_item" selected disabled>
                                    Year 
                            </option>
                        </select>
                    </div>
                </div>
                <input type="email" class="join_form__mail col-12" placeholder="What is your email?">
                <input type="password" class="join_form__password col-12 " placeholder="Set up your password">
                <div class="join_form__agreement col-md-11">
                    <p class="join_form__agreement_content">
                        By disking "Find My Matches" you agree with the 
                        <a href="#" class="join_form__agreement_link">
                            Tems of Use
                        </a>
                        and
                        <a href="#" class="join_form__agreement_link">
                            Privacy Policy
                        </a>
                    </p>
                </div>
                <button class="join_form__button col-12">
                    find my matches
                </button>
                <p class="join_form__sing_in_content">
                    Alredy have as acount?
                    <a href="#" class="join_form__sing_in_link">
                        Sing in
                    </a>
                </p>
            </form>
            <div class="section_review__join_sing_in col-md-4 col-xs-11">
                <div class="section_review__sig_in_box">
                    <a href="#" class="section_review__help">
                    Need Help? Contact Us
                    </a>
                    <a href="#" class="section_review__sign_in_button">
                        SING IN
                    </a>
                </div>
                <div class="section_review__join_content_box col-md-8">
                    <h5 class="section_review__join_title">
                        Victoria Brides
                    </h5>
                    <p class="section_review__join_content">
                        Online dating that is worth your time.
                    </p>
                </div>
            </div>
        </div>
        <div class="section_review__content_box col-md-11 col-8">
            <p class="section_review___content">
                    Lorem ipsum dolor sit amet, pro no placerat hendrerit. Ad omnis virtute sit, vis quem lorem an, at eius suscipiantur vel. Sit ad purto falli disputando, ex sale sensibus pri. 
            </p>
        </div>
    </div>
</section>